{% load static %}
<link rel="stylesheet" href="{% static 'stylesVistas.css' %}" />

<footer class="seccion">
	<div class="container">
		<div class="row row-footer">
			<div class="columna columna-33 columna-mobile-100 temas-relacionados">
				<h3>
					TEMAS RELACIONADOS
				</h3>
				<ul>
					<li><a href="#">Acerca de Nosotros</a></li>
					<li><a href="#">Contáctenos</a></li>
				</ul>
			</div>
			<div class="columna columna-33 columna-mobile-100">
				<h3>
					CONTACTO
				</h3>
				<ul>
					<li>saturn.dev.21@gmail.com</li>
					<li>3794-142927 - Resistencia</li>
				</ul>
			</div>
			<div class="columna columna-33 columna-mobile-100">
				<h3>
					REDES SOCIALES
				</h3>
				<ul class="redes">
					<li>
						<a href="#"><i class="red-icon fab fa-facebook-square"></i></a>
					</li>
					<li>
						<a href="#"><i class="red-icon fab fa-twitter-square"></i></a>
					</li>
					<li>
						<a href="#"><i class="red-icon fab fa-instagram"></i></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="barra-footer">
		 FML&copy; - 2020
	</div>
</footer>
<!--
<footer class="d-flex justify-content-center align-items-center footer">
	<div class="d-flex justify-content-center align-items-center container-footer w-100 px-5">
		<div class="mx-auto footer-direccion"><i class="fas fa-map-marker-alt mr-2"></i>Av.9 de Julio 4200</div>
		<div class="mx-auto"><i class="fas fa-phone"></i><a href="https://support.riotgames.com/hc/es" class="footer-atencion mx-2" target="_blank">Atención al cliente</a></div>
		<div class="mx-auto"><a href="http://twitter.com" target="_BLANK"><i class="fab fa-twitter mx-4 pt-2"></i></a><a href="http://facebook.com" target="_BLANK"><i class="fab fa-facebook-f pt-2"></i></a><a href="https://github.com/LeonardoBrabo/Saturn" target="_BLANK"><i class="fab fa-github mx-4 pt-2"></i></a></div>
	</div>
</footer>
-->
